<nav class="col-md-2 d-none d-md-block bg-light sidebar mt-3">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to headhunters_admin_jobs_path do %>
          <%= fa_icon("briefcase", text: "Vagas") %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to headhunters_admin_jobs_path do %>
          <%= fa_icon("sticky-note", text: "Relatórios") %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
