<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Bem-vindo ao Talent Hunter</h1>
    <p class="lead text-muted">Encontre o emprego dos seus sonhos</p>
    <p>
      <%= link_to 'Cadastre-se como headhunter', new_headhunter_registration_path, class:"btn btn-primary my-2" %>
      <a href="#" class="btn btn-secondary my-2">Cadastre-se como profissional</a>
    </p>
  </div>
</section>
