/* FLASH MESSAGES */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

 footer {
   padding-top: 20%;
 }

 #job-levels {
   input {
    margin-left: 10px;
    margin-right: 5px;
   }
 }
.btn-header {
  .btn-primary{
    width: 160px !important;
    font-size: 12px !important;
  }
} 